@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.section-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;

    img{
        width: 37%;
        object-fit: cover;
    }
    h1{
        color: hsl(210, 10%, 33%);
        font-size: 2.2rem;
        text-align: center;
        font-weight: 600;
        margin: 20% 0% 5% 0%;
    }
    p{
        color: hsl(201, 11%, 66%);
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
        max-width: 98%;
        margin-bottom: 10%;
    }
    input, .ios{
        width: 95%;
        height: 4rem;
        border-radius: 30px;
        border: none;
        border-bottom: 3px solid hsl(171, 66%, 38%);
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        word-spacing: 3px;
        background-color: hsl(171, 66%, 44%);
        box-shadow: 0px 3px 3px 3px hsla(171, 66%, 44%, 0.247);
    }
    .mac{
        background-color: hsl(233, 100%, 69%);
        box-shadow: 0px 3px 3px 3px hsla(233, 100%, 69%, 0.247);
        border-bottom: 3px solid hsl(233, 57%, 58%);
        margin-top: 20px;
    }
}

.section-keep-track{
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 30%;

    h2{
        color: hsl(210, 10%, 33%);
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin: 20% 0% 5% 0%;
    }
    p{
        color: hsl(201, 11%, 66%);
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
        max-width: 98%;
        margin-bottom: 10%;
    }

    .section-elements{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 85%;
            margin-bottom: 15%;
        }

        .informations{

            .info{

                h3{
                    color: hsl(210, 10%, 33%);
                    font-size: 1.8rem;
                    text-align: center;
                    font-weight: 600;
                    margin: 20% 0% 5% 0%;
                }

                p{
                    color: hsl(201, 11%, 66%);
                    font-size: 1.1rem;
                    font-weight: 400;
                    text-align: center;
                    line-height: 25px;
                    max-width: 98%;
                    margin-bottom: 10%;
                }
            }
        }
    }
}

.section-access-clipboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;

    h2{
        color: hsl(210, 10%, 33%);
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin: 20% 0% 5% 0%;
    }
    p{
        color: hsl(201, 11%, 66%);
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
        max-width: 98%;
        margin-bottom: 10%;
    }
    img{
        width: 90%;
        margin-bottom: 15%;
    }    
}

.section-supercharge{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;

    h2{
        color: hsl(210, 10%, 33%);
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin: 20% 0% 5% 0%;
    }
    p{
        color: hsl(201, 11%, 66%);
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
        max-width: 98%;
        margin-bottom: 10%;
    }

    .elements-container{

        .produtivitys{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15%;
            margin-bottom: 8%;

            h3{
                color: hsl(210, 10%, 33%);
                font-size: 1.8rem;
                text-align: center;
                font-weight: 600;
                margin: 10% 0% 5% 0%;
            }

            p{
                color: hsl(201, 11%, 66%);
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                line-height: 25px;
                max-width: 98%;
            }
        }
    }

}

.section-companies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;

    img{
        margin-bottom: 20%;
    }
}

.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;

    h2{
        color: hsl(210, 10%, 33%);
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin: 20% 0% 5% 0%;
    }
    p{
        color: hsl(201, 11%, 66%);
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
        max-width: 98%;
        margin-bottom: 10%;
    }
    input, .ios{
        width: 95%;
        height: 4rem;
        border-radius: 30px;
        border: none;
        border-bottom: 3px solid hsl(171, 66%, 38%);
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        word-spacing: 3px;
        background-color: hsl(171, 66%, 44%);
        box-shadow: 0px 3px 3px 3px hsla(171, 66%, 44%, 0.247);
    }
    .mac{
        background-color: hsl(233, 100%, 69%);
        box-shadow: 0px 3px 3px 3px hsla(233, 100%, 69%, 0.247);
        border-bottom: 3px solid hsl(233, 57%, 58%);
        margin-top: 20px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 20%;
    margin-top: 10%;

    img{
        width: 15%;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        a{
            text-decoration: none;
            color: hsl(210, 10%, 33%);
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
    }
    .social-medias{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 40px;

        img{
            width: 23px;
        }
    }
}


@media (min-width: 530px) {

    .container{
        padding: 30px;
    }
    
    .section-main{    
        h1{
            font-size: 3rem;
        }
        input, .ios{
            width: 85%;
        }
    }   
    
    .section-keep-track{
        h2{
            color: hsl(210, 10%, 33%);
            font-size: 2.5rem;
        } 
        .section-elements{       
            .informations{
                .info{
                    h3{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .last-section{
        input, .ios{
            width: 85%;
        }
    }
    
}

@media (min-width: 768px) {

    .container{
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-family: 'Bai Jamjuree', sans-serif;
        background-image: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }

    .section-main{
        margin-top: 10%;
    
        img{
            width: 20%;
        }
        h1{
            font-size: 2.5rem;
            margin: 8% 0% 5% 0%;
        }
        p{
            color: hsl(201, 11%, 66%);
            font-size: 1.3rem;
            line-height: 30px;
            max-width: unset;
            width: 85%;
            margin-bottom: 5%;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-between;

            input, .ios{
            width: 55%;
            height: 3.5rem;
            font-size: 1rem;
            padding: 15px;
            letter-spacing: 1px;
            margin-right: 15px;
            }
            .mac{
            margin-top: 0;
            }
        }
    }

    .section-keep-track{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 5%;
        p{
            font-size: 1.1rem;
            line-height: 30px;
            max-width: 85%;
        }
        .section-elements{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 70%;
                margin-bottom: 0;
                position: relative;
                left: -100px;
            }
            .informations{
                .info{
                    h3{
                        font-size: 1.2rem;
                        text-align: left;
                        margin: 20% 0% 2% 0%;
                    }
                    p{
                        font-size: .8rem;
                        text-align: left;
                        max-width: 100%;
                        margin-bottom: 0%;
                    }
                }
            }
        }
    }

    .section-access-clipboard{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        p{
            font-size: 1.1rem;
            max-width: 80%;
            margin-bottom: 8%;
        }
        img{
            width: 80%;
        }    
    }

    .section-supercharge{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 10%;
        p{
            margin-bottom: 0;
        }
    
        .elements-container{
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .produtivitys{
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 15%;
                }
    
                h3{
                    font-size: 1.3rem;
                    margin: 10% 0% 0% 0%;
                }
    
                p{
                    font-size: .8rem;
                    max-width: 85%;
                }
            }
        }
    
    }

    .section-companies{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        justify-content: space-evenly;
        margin-bottom: 0%;
        column-gap: 50px;
    
        img{
            margin-bottom: 8%;
        }
    }
    
    .last-section{
        margin-bottom: 30%;
        p{
            max-width: 80%;
            margin-bottom: 10%;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-between;

            input, .ios{
            width: 55%;
            height: 3.5rem;
            font-size: 1rem;
            padding: 15px;
            letter-spacing: 1px;
            margin-right: 15px;
            }
            .mac{
            margin-top: 0;
            }
        }
    }
    
    footer{
        display: flex;
        flex-direction: row;
        row-gap: 0;
        margin-bottom: 10%;
        margin-top: 10%;
        justify-content: space-around;
    
        img{
            width: 13%;
        }
    
        .footer-links{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 40%;
            align-items: center;
    
            a{
                text-align: left;
                margin: 0px 15px 0px 15px;
            }
        }
        .social-medias{    
            img{
                width: 20px;
            }
        }
    }

}

@media (min-width: 1024px) {
    .section-main{
        margin-top: 8%;
    
        img{
            width: 10%;
        }
        h1{
            font-size: 3rem;
            margin: 4% 0% 1% 0%;
        }
        p{
            width: 55%;
            margin-bottom: 4%;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-between;

            input, .ios{
            width: 55%;
            height: 3.5rem;
            font-size: .9rem;
            font-weight: 400;
            }
        }
    }

    .section-keep-track{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        h2{
            margin-bottom: 2%;
            margin-top: 15%;
        }
        p{
            font-size: 1.15rem;
            max-width: 55%;
            margin-top: 0;
            margin-bottom: 5%;
        }
        .section-elements{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 70%;
                margin-bottom: 0;
                position: relative;
                left: -100px;
            }
            .informations{
                .info{
                    h3{
                        font-size: 1.5rem;
                        text-align: left;
                        margin: 0% 0% 1% 0%;
                    }
                    p{
                        font-size: 1rem;
                        text-align: left;
                        max-width: 65%;
                        margin-bottom: 15%;
                    }
                }
            }
        }
    }

    .section-access-clipboard{
        h2{
            margin-bottom: 2%;
            margin-top: 8%;
        }
        p{
            max-width: 55%;
        }
        img{
            width: 70%;
            margin-bottom: 2%;
        }    
    }

    .section-supercharge{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 2%;
        h2{
            margin: 0% 0% 2% 0%;
        }
        p{
            margin-bottom: 0;
        }
    
        .elements-container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .produtivitys{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;
                margin-top: 5%;

                img{
                    width: 8%;
                }
                .text{
                    width: 10%;
                }
                .preview{
                    width: 12%;
                }
    
                h3{
                    font-size: 1.3rem;
                    margin: 10% 0% 1% 0%;
                }
    
                p{
                    font-size: 1rem;
                    max-width: 75%;
                }
            }
        }
    
    }

    .section-companies{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        justify-content: space-evenly;
        margin-bottom: 0%;
        column-gap: 50px;
    
        img{
            margin-bottom: 8%;
            object-fit: contain;
        }
    }
    
    .last-section{
        margin-bottom: 5%;
        h2{
            font-size: 3rem;
            margin: 5% 0% 2% 0%;
        }
        p{
            font-size: 1.2rem;
            width: 55%;
            margin-bottom: 4%;
            margin-top: 0;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-between;

            input, .ios{
            width: 50%;
            height: 3.5rem;
            font-size: .9rem;
            font-weight: 400;
            }
        }
    }
    
    footer{
        display: flex;
        flex-direction: row;
        row-gap: 0;
        margin-bottom: 2%;
        margin-top: 10%;
        justify-content: space-around;
    
        img{
            width: 5%;
        }
    
        .footer-links{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 40%;
            flex-direction: row;
    
            a{
                text-align: left;
                margin: 0px 15px 0px 15px;
            }
        }
        .social-medias{    
            img{
                width: 20px;
            }
        }
    }

}